.header {
    position: fixed;
    height: 70px;
    display: block;
    width: 100%;
    z-index: 9;
    background:#191819;
    text-align: center;
    padding: 0px 30px;
    top: 0px;
  }
  
  .navbar {
    height: 100%;
  }
  
  .appLogo {
    background-image: url("/assets/logo5.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 100%;
    /* cursor: pointer; */
  }
  